<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Gadget Mart", root_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">  
                    <li><%= link_to "View All", products_path %></li>
                    <li><%= link_to "Special Offers", static_pages_coming_soon_path %>
                    </li>
                    <li><%= link_to "About", static_pages_about_path %>
                    </li>
                    <li><%= link_to "Contact", static_pages_contact_path %>
                    </li>
                </ul>
                <form class="nav navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <%= form_tag("/products", method: "get") do %>
                            <%= label_tag(:q, "Search for:") %>
                            <%= text_field_tag(:q, "", class: "form-control") %>
                        </div>
                        <%= submit_tag("Search", class: "btn btn-default") %>
                    <% end %>
                    </li> 
                </ul>
            </div>
            <!-- end navbar collapse -->
        </div>
        <!-- end nav container-->
    </nav>
    <!-- navbar ends here-->