<div class="container">
  <div class="row">
      <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h1 class="page-heading">List of Products</h1>
  </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image url</th>
            <th>Colour<th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= product.image_url %></td>
              <td><%= product.colour %></td>
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Add a new product', new_product_path %>
  </div>
</div>