<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">List of Products</h1>
  </div>
  <% @products.each do |product| %>
    <div class="row product-row">
      <div class="col-md-6 col-sm-6">
        <p><strong><%= product.name %></strong></p>
        <p>Description: <%= product.description %></p>
        <p>Color: <%= product.colour %>
        <p>Price: <%= product.price %>
        <p><%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p>Picture:</p>
        <%= product.image_url %>
      </div>
    </div>
  <% end %>
</div>

<br>
      <button class="btn btn-primary"><%= link_to 'Add a new product', new_product_path %></button>
  </div>
</div>