<div class="container product-display page-heading">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			  <a href="<%= @product.image_url %>">
			  <img src="<%= @product.image_url %>" alt="<%=@product.name %>" class="thumbnail center-block">
			</a>
		</div>

		<div class="col-md-6 col-sm-6">
			<h2><%= @product.name %></h2>
			<h5>Color: <%= @product.colour %></h5>
			<h4>$<%= @product.price %></h4>
			<p class="italic"><%= @product.description %></p>
			<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'Edit', edit_product_path(@product) %> | 
			<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
			<%= link_to 'Back', products_path %>
		</div>
	</div>
	<div class="row reviews">
		<div class="col-md-9">
			<%= render 'new_comment' %>
		</div>
	</div>

	<div class="row reviews">
		<div class="col-md-9">
			<h4 class="review-heading"><span class="glyphicon glyphicon-star"></span> <u>Customer Reviews</u> <span class="glyphicon glyphicon-star"></span></h4>
			<%= render 'comments' %>
		</div>
	</div>
</div>
