<!DOCTYPE html>
<html>

<head>
    <title>Gadget Mart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
     <%=javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%=csrf_meta_tags %>
</head>

<body>
    <%= render 'shared/header' %>

    <% if notice %>
        <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>

    <% if alert %>
        <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>

    <%= render 'shared/footer' %>

    <%=yield %>

</body>

</html>