<!DOCTYPE html>
<html>

<head>
    <title>Gadget Mart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
     <%=javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%=csrf_meta_tags %>
</head>

<body>
    <%= render 'shared/header' %>

    <footer class="footer">
            <div class="container">
            	<div class="row">
            		<div class="col-md-4 col-sm-4 col-xs-6">
            		<ul class="footer-links">
            			<h4>Site Directory</h4>
            			<li><a href="/static_pages/coming_soon.html">Computers</a>
                    	</li>
                    	<li><a href="/static_pages/coming_soon.html">Tablets</a>
                    	</li>
                    	<li><a href="/static_pages/coming_soon.html">Mobile Phones</a>
                    	</li>
                    	<li><a href="/static_pages/coming_soon.html">Special Offers</a>
                    	</li>
                    	<li><a href="/static_pages/about.html">About Us</a>
                    	</li>
                    	<li><a href="/static_pages/contact.html">Contact Us</a>
                    	</li>
            		</ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="footer-contact">
                	<h4>Contact Us</h4>
                	<li>support@site.com</li>
                	<li>1-800-555-5555</li>
                	<li>555 Streetname, City, State 55555</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <p class="text-center">&copy; Gadget Mart 2015</p>
            </div>
        </div>
    </footer>

    <%=yield %>

</body>

</html>